/*      Register.php styles     */

#loginWrapper {
    background: #222f3e;
}

body,
html {
    background: rgb(202, 202, 202);
}

* {
    margin: 0;
    padding: 0;
}

#regPage {
    height: 100%;
    overflow: hidden;
}

#pageWrapper {
    height: inherit;
    background: linear-gradient(to right, rgba(254, 202, 87, 0.2), rgba(34, 47, 62, 0.9)), url('../img/Backgrounds/regBg.png') center;
    background-size: 100%;
}


/* Index.php Styles   */

.navbar {
    background: #311564;
    margin: 0;
}

nav .fa {
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s all;
}

nav .fa:hover {
    color: #e7e7e7;
}

nav li:hover {
    background: #462288;
}

nav a {
    color: white;
}

nav li #username:hover {
    background: #311564;
}

nav #username a:hover {
    color: white;
}

#profileAside {
    margin-top: 10px;
}

#profileMain {
    margin-top: 20px;
}

img#profilePic {
    max-height: 160px;
    max-width: 160px;
    margin: 10px auto;
}

#postWrapper {
    background: #fff;
    padding: 5px;
    margin-bottom: 10px;
}

#postText {
    width: 83%;
    height: 3.2rem;
    padding: 0.2rem;
}

#postBtn {
    width: 15%;
    border-radius: 3px;
    background: #462288;
    color: rgb(212, 204, 204);
    outline: none;
    border: none;
    transition: 0.2s all;
}

#postBtn:hover {
    background: #552e9c;
    color: #fff;
    cursor: pointer;
}

.post {
    background: #fff;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
}

textarea {
    resize: none;
}

div.card-body {
    padding-top: 0;
}