/*      Register.php styles     */

#loginWrapper {
    background: #222f3e;
}

body,
html {
    background: rgb(197, 193, 193);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

#regPage {
    height: 100%;
    overflow: hidden;
}

#pageWrapper {
    height: inherit;
    background: linear-gradient(to right, rgba(254, 202, 87, 0.2), rgba(34, 47, 62, 0.9)), url('../img/Backgrounds/regBg.png') center;
    background-size: 100%;
}


/* Index.php Styles   */

.navbar {
    background: #311564;
    margin: 0;
}

nav .fa {
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s all;
}

nav .fa:hover {
    color: #e7e7e7;
}

nav li {
    border-bottom: 2px transparent solid;
}

nav li:hover {
    background: #462288;
    border-bottom: 2px white solid;
}

nav a {
    color: white;
}

nav li #username:hover {
    background: #311564;
}

nav #username a:hover {
    color: white;
}

#profileAside {
    margin-top: 10px;
}

#profileMain {
    margin-top: 20px;
}

img#profilePic {
    max-height: 160px;
    max-width: 160px;
    margin: 10px auto;
}

#postWrapper {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #462288;
}

.postText {
    width: 83%;
    height: 5.4rem;
    padding: 0.4rem;
    border-radius: 5px;
    resize: none;
    border: 1px #d3d3d3 solid;
}

#postText:focus {
    outline: none;
}

#postBtn {
    width: 15%;
    border-radius: 3px;
    background: #462288;
    color: rgb(212, 204, 204);
    outline: none;
    border: none;
    transition: 0.2s all;
}

#postBtn:hover {
    background: #552e9c;
    color: #fff;
    cursor: pointer;
}

.post {
    background: #fff;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px #462288 solid;
}

#postForm {
    width: 100%;
}

textarea:focus {
    outline: none;
}

div.card-body {
    padding-top: 0;
}

.postHead {
    margin-bottom: 10px;
}

#postPic {
    border-radius: 50%;
    margin-right: 10px;
}

.postHead a {
    position: relative;
    top: 5px;
}

.postBody p {
    margin-left: 20px;
    margin-bottom: 5px;
}

#timeFrame {
    position: relative;
    top: 30px;
    right: 10%;
    font-size: 0.7rem;
}

div.displayMore {
    background: white;
}

button#displayMore.btn-link {
    margin: 0 auto;
}

.interactionBox {
    background: rgba(155, 145, 145, 0.4);
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 0 5px 0;
    width: 90%;
}

.interactionBox form {
    width: 100%;
}

.interactionBox .btn-link:hover,
.interactionBox .btn-link:active {
    text-decoration: none;
}

.commentText {
    width: 90%;
    height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 0.8rem;
}

.commentBtn {
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    background: #462288;
    color: rgb(212, 204, 204);
}

.commentBtn:hover {
    background: #552e9c;
    color: #fff;
    cursor: pointer;
}

#commentWrapper {
    padding: 0 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(146, 137, 137);
}

.commentInfo {
    margin: 5px auto;
}

.commentSnap {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 3px solid rgb(236, 236, 236);
}

#commentTime {
    font-size: 0.7rem;
    position: relative;
    top: 25px;
    right: 15%;
}

.commentSnap p {
    padding-left: 20px;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

button.close {
    position: relative;
    bottom: 15px;
    left: 70%;
    display: inline;
}

.removeComment {
    position: absolute;
    left: 80%;
}

#closeCommentBtn,
#closePostBtn {
    background: transparent;
}

div.card-body {
    padding-bottom: 15px;
}

.toText {
    padding-left: 5px;
    padding-right: 5px;
}


/**  Profile.php **/

.addButtons button {
    margin: 5px auto;
    width: 75%;
}


/** Conversation Modal **/

#convHead {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}

.user-conv {
    align-items: baseline;
    flex-direction: row-reverse;
}

.other-conv {
    align-items: baseline
}

.convText {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.95em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.otherConvText {
    background: #d8d8d8;
}

.userConvText {
    background: #552e9c;
    color: white;
}

.modal-body {
    overflow: scroll;
    overflow-x: hidden;
    height: 60%;
}

.modal-body hr {
    margin: 0;
}

.modal-body span {
    font-size: .8rem;
}

#messengerWidgetlink:hover,
#messengerWidgetlink:active {
    text-decoration: none !important;
}